.quiz {
  max-width: 500px;
  margin: 50px auto 0 auto;
  display: flex;
  gap: 20px;
  background-color: #607196;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.25);
}

@media (max-width: 540px) {
  .quiz {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.end-screen {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info .question-counter,
.finished {
  font-weight: 700;
  font-size: 1.5rem;
}

.info .question-counter .total,
.info .question {
  font-size: 1.5rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.options button,
.end-screen .retry-btn {
  border-radius: 5px;
  padding: 10px;
  font-size: 1.5rem;
  text-align: start;
  cursor: pointer;
  color: white;
  border: 2px solid #babfd1;
  transition: 0.1s ease background-color, 0.1s ease border-color,
    0.1s ease color;
}

.options button.options {
  background-color: transparent;
}

.options button.next,
.end-screen .retry-btn {
  align-self: start;
  background-color: #babfd1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.options button.next:disabled {
  opacity: 0.5;
}

.options button.next:hover:not(:disabled),
.end-screen .retry-btn:hover {
  background-color: #a0a7b9;
  border-color: #607196;
  color: black;
  text-shadow: none;
}

.options button:not(.correct):disabled,
.options button:not(.incorrect):disabled {
  cursor: not-allowed;
  color: #fff;
}

.options button.option.incorrect,
.options button.option.correct {
  color: white;
}

.options button.option.correct,
.options button.option.correct:disabled {
  background-color: green;
}

.options button.option.incorrect,
.options button.option.incorrect:disabled {
  background-color: crimson;
}
